<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ID=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/application.css?cachebust={{ site.time | date: '%s.%N' }}">
</head>

<body>
  <header>
    <h1>{{ site.name }}</h1>

    <nav>
      <ul class="inline">
        <li><a href="/">home</a></li><!--
        -->{%comment%}<li><a href="/support/">support</a></li>{%endcomment%}
      </ul>
    </nav>
  </header>
  <main>
{{ content }}
  </main>
</body>
</html>
